<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - Demo</title>
  </head>
  <body>
    <nav>
      <a href="/">Home</a> |
      <a href="/cars-ui">Cars</a> |
      <a href="/parts-ui">Parts</a> |
      <a href="/motors-ui">Motors</a> |
      <a href="/shina-ui">Shina</a> |
      <a href="/bolt-ui">Bolts</a>
    </nav>
    <hr />
    @RenderBody()
  </body>
</html>
